body {
    margin:0;
    padding:0;
    
}

#topnav {
    background-color:#212121;
    overflow:hidden;
    color:#454545;
    font-size: 25px;
    font-weight: 500;
    font-family: Cinzel;
    position:fixed;
    top:0;
    display:block;
    width:100%;
}

#topnav a {
    float:left;
    display:block;
    color:#454545;
    text-decoration: none;
    text-align:center;
    padding:0px 0px;
    border-bottom:3px solid transparent;
    padding: 14px 16px;
}

#topnav a:hover {
    border-bottom:3px solid #F2E88E;
    transition: all .3s;
    color:#F2E88E;
}

#topnav a:active {
    border-bottom:3px solid #999041;
    color:#999041;
}

body {
    background-image: url("IMG_4010.jpg");
    background-position: center -200px ;   
    background-attachment: fixed;
}

#footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: center;
   font-family: Inconsolata;
   color: #F2E88E;
}

#footer a {
    text-decoration:none;
    color: #F2E88E;
    text-align: center;
}

p {
    text-align:center;
}

#footer-list {
    list-style-type: none;
}





